<!DOCTYPE html>
<html>
   <head>
      <title>Penny.com</title>
   </head>
   <body>
      {% include 'header.html' %}
      <h1>Author Search</h1>
      <form action="searchresults" method="get">
         Please enter an author name:
         <input type="text" name="author">
         <input type="submit" value="Go">
      </form>
      <br>
      <strong>{{error_msg}}</strong>
      <br>
      <br>
      <strong>Previous author search: {{prev_author}}</strong>
      <br>
      <br>
      {% include 'footer.html' %}
   </body>
</html>
