h1 {
    color:black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
}

body {
    background-color: white;
    font-family: sans-serif;

}

table {
    width:100%;
    table-layout: fixed;

}

#calendar th, #calendar tr {
    border: 1px solid #ddd;
    padding: 8px;
}

#new-audition {
    float: right;
}

#edit-profile-but {
    float: right;
}