h1 {
    color:black;
}

body {
    background-color: white;
    font-family: Monaco, monospace, sans-serif;

}

th.table_header {
    background-color: #ffd498;
}

table {
    width:100%;
    table-layout: fixed;

}

#calendar th, #calendar tr {
    border: 1px solid #ddd;
    padding: 8px;
}

#calendar {
    align-content: center;
}

#new-audition {
    float: right;
}

#edit-profile-but {
    float: right;
}

tr {
    height: 41px;
}

.avail-button {
    align-content: center;
    width: 100%;
}
