#logo-box {
    background-color: #f3804b;
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
    width: 250px;
}

#acaprez {
    text-align: center;
    padding: 5px;
}

#splash {
    justify-content: center;
    text-align:center;
}

h1 {
    color:white;
}

h5 {
    align-content: center;
    font-size:80%;
}

body {
    /* background-color: #ffd498;
    background-image: url(arrow.svg);
    background-repeat: no-repeat; */
    background-color: #ffd498; /* Used if the image is unavailable */
    font-family: Monaco, monospace, sans-serif;

}

.hero-image {
    background-color: #ffd498; /* Used if the image is unavailable */
    background-image: url("Untitled.svg"); /* The image used */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  }