#logo-box {
    background-color: #f3804b;
    color: white;
    padding: 0px 10px 0px 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
    width: 250px;
}

#acaprez {
    text-align: center;
}

#login-text {
    text-decoration: none;
    text-align: center;
}
#login-link {
    text-decoration: none;
    text-align: center;
}
#login-link:hover {
    text-decoration: none;
    color: darkorange;
}

h1 {
    color:white;
}

h4 {
    align-content: center;
}

body {
    background-color: white;
    font-family: sans-serif;

}