#logo-box {
    background-color: #fda04a;
    color: whitesmoke;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
    width: 250px;
}

#acaprez {
    text-align: center;
}

#login-text {
    text-decoration: none;
    text-align: center;
}
#login-link {
    text-decoration: none;
    text-align: center;
}
#login-link:hover {
    text-decoration: none;
    color: white;
}

h1 {
    color:whitesmoke;
}

h3 {
    align-content: center;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;

}