#CAS {
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    width: 30%;
    height: auto;
    text-align: center;
    border-radius: 10px;

}

.login {
    padding: 10px;
    margin: auto;
    height: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: orange;
}
a:hover {
    text-decoration: none;
    color: darkorange;
}

body {
    background-color: white;
    font-family: sans-serif;
}