<!DOCTYPE html>
<html>


<head>
    <title>Acaprez</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cal.css') }}">

</head>

{% include 'nav.html' %}


<body>

    <div class="container-fluid" style="padding: 10px">
        <div class="row">
            <div class="col-6">
                <h1>About Acaprez</h1>
            </div>
            <div class="col-6">
                <a href="/auditionee" class="btn btn-primary" id="return" role="button" style="float:right">Return to Profile</a>
            </div>
        </div>
        <div class="row">
            <p>
                Acaprez is an organization of eight Princeton University a cappella groups who organize "arch sings" and abide by regulations regarding the audition process and song ownership. Current members include The Nassoons, The Footnotes, The Tigerlilies, The Tigressions, The Wildcats, Roaring 20, The Katzenjammers, and The Tigertones.
            </p>

        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 card">
                <h3><a href="http://www.nassoons.com/" target="_blank" class="group-url">The Nassoons</a></h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Open to freshman, sophomore, and junior low-voice (TTBB) singers of all identities
                    </li>
                    <li class="list-group-item list-group-item-light">
                        The oldest acapella group on campus
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 card">
                <h3><a href="http://princetonfootnotes.com/" target="_blank">The Footnotes</a></h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Open to all freshman, sophomore, and junior men
                    </li>
                    <li class="list-group-item list-group-item-light">
                        Fresh, all-male a cappella group with a repertoire spanning decades and genres
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 card">
                <h3><a href="https://www.putigerlilies.com/" target="_blank">The Tigerlillies</a></h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Open to all freshman and sophomore women
                    </li>
                    <li class="list-group-item list-group-item-light">
                        Princeton's first all-women acapella group
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 card">
                <h3><a href="http://www.theprincetontigressions.com/" target="_blank">The Tigressions</a></h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Open to all freshman, sophomore, and junior women
                    </li>
                    <li class="list-group-item list-group-item-light">
                        All-women acapella group with a range of songs from old classics to modern pop
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 card">
                <h3><a href="https://www.princetonwildcats.com/" target="_blank">The Wildcats</a></h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Open to all female-identifying freshmen and sophomores
                    </li>
                    <li class="list-group-item list-group-item-light">
                        All-female-identifying a cappella group composed of confident, vibrant, and professional women
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 card">
                <h3><a href="https://www.princetonroaring20.com/" target="_blank">Roaring 20</a></h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Open to all freshmen and sophomores
                    </li>
                    <li class="list-group-item list-group-item-light">
                        Co-ed a cappella group with a dynamic repertoire and a uniquely resonant sound
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 card">
                <h3><a href="http://www.theprincetonkatzenjammers.com/" target="_blank">The Katzenjammers</a></h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Open to freshmen and sophomores of all voice parts and gender identities
                    </li>
                    <li class="list-group-item list-group-item-light">
                        Co-ed group performing jazz, classical, sacred, and pop music
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 card">
                <h3><a href="http://www.tigertones.com/" target="_blank">The Tigertones</a></h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Open to freshmen and sophomore guys
                    </li>
                    <li class="list-group-item list-group-item-light">
                        Princeton University's signature all-male a cappella group
                    </li>
                </ul>
            </div>
        </div>

    </div>
    
        <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js">
            </script>



</body>

</html>