<!DOCTYPE html>
<html>


<head>
    <title>Acaprez</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cal.css') }}">

</head>

{% include 'genericnav.html' %}

<body>
    <div class="bootstrap-iso">
        <div class="container-fluid" style="margin:0px 10px 0px 10px">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">

                    <!-- Form code begins -->
                    <form action="reset" method="post"
                        onsubmit="return confirm('Are you sure you want to reset the site?');">
                        <h2>Select audition dates:</h2>
                        <div id='datepicker' class="form-group input-group date">
                            <!-- Date input -->
                            <input class="form-control" id="dates" name="dates" type="text" />
                        </div>
                        <h2>Select callback date(s):</h2>
                        <div id='callbackpicker' class="form-group input-group date">
                            <!-- Date input -->
                            <input class="form-control" id="callbackdates" name="callbackdates" type="text" />
                        </div>
                        <br>
                        <h2>Reset website</h2>
                        <div class="form-group">
                            <p>Warning! This button will: </p>
                            <ul>
                                <li>reset the audition/callback dates to the inputted dates above</li>
                                <li>clear all auditionee profiles</li>
                                <li>clear all auditions</li>
                            </ul>
                            <p>This action cannot be undone. This should only be done at the beginning of an audition
                                cycle.</p>
                            <button class="btn btn-danger" data-confirm="Are you sure you want to reset?" id="reset-btn"
                                name="reset" type="submit">Reset Site</button>
                        </div>
                    </form>
                    <!-- Form code ends -->

                </div>

                <div class="col-md-8 col-sm-8">
                    <div class="col-sm-4">
                        <p>Select a group to view available time slots</p>
                        <div class="group-selection">
                            {% for group in groups %}
                            <input type="radio" id="{{group.get_netID()}}" name="selected_group"
                                value="{{group.get_netID()}}">
                            <label for="{{group.get_netID()}}">{{group.get_name()}}</label>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <table id="availabilityCalendar"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js">
    </script>
    <script src="static/jquery.domajax.js"></script>


    <script>

        function handleResponse(response) {
            $('#availabilityCalendar').html(response);
        }

        let request = null;
        function callbackAvailability() {
            let groupNetID = $("input[type='radio']:checked").val();
            groupNetID = encodeURIComponent(groupNetID);
            let url = "/callbackavailability" + groupNetID;

            if (request != null) request.abort();

            request = $.ajax(
                {
                    type: 'GET',
                    url: url,
                    success: handleResponse
                }
            )
        }

        $(document).ready(function () {
            var date_input = $('#dates'); //our date input has the name "date"
            var callback_input = $('#callbackdates');
            var audition_options = {
                enableTime: false,
                altInput: true,
                dateFormat: 'Y-m-d',
                altFormat: 'F, d Y',
                mode: 'multiple'
            };
            var callback_options = {
                enableTime: true,
                altInput: true,
                dateFormat: 'Y-m-d H:i',
                altFormat: 'F, d Y h:i K',
                mode: 'multiple'
            }
            date_input.flatpickr(audition_options);
            callback_input.flatpickr(callback_options);

            ('.group-selection input').on('change', callbackAvailability);
        })
    </script>

</body>

</html>