<!DOCTYPE html>
<html>


<head>
    <title>Acaprez</title>
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cal.css') }}">

</head>

{% include 'nav.html' %}


<body>
    <div class="container-fluid" style="padding: 0px 15px 0px 15px">
        <h1 id="welcome">{{"Welcome, " ~ profile.get_name() ~ " :)"}}</h1>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-6">
                        <h3 id="profile">My Profile</h3>
                    </div>
                    <div class="col-6">
                        <a href="/editprofile" class="btn btn-outline-primary" id="edit-profile-but" role="button">Edit
                            Profile</a>
                    </div>
                </div>

                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-warning">NetID: {{profile.get_netID()}} </li>
                        <li class="list-group-item list-group-item-light">Class Year: {{profile.get_class_year()}} </li>
                        <li class="list-group-item list-group-item-light">Dorm Room: {{profile.get_dorm_room()}} </li>
                        <li class="list-group-item list-group-item-light">Voice Part: {{profile.get_voice_part()}} </li>
                        <li class="list-group-item list-group-item-light">Phone Number: {{profile.get_phone_number()}}
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-sm-8">

                <div class="row">
                    <div class="col-6">
                        <h3 id="profile">Current Auditions</h3>
                    </div>
                    <div class="col-6">
                        <a href="/createAudition" class="btn btn-primary" id="new-audition" role="button">New
                            Audition</a>
                    </div>

                </div>

                <div class="row">
                    <table id="auditions" class="table table-striped">
                        <tr>
                            <th class="table_header">Group</th>
                            <th class="table_header">Time</th>
                            <th class="table_header"></th>
                        </tr>
                        {% for audition in auditions: %}
                        <tr>
                            <td id="{{audition.get_auditionID()}}"><a href="{{audition.get_group_url()}}" target="_blank">{{audition.get_group_name()}}</a></td>
                            <td>{{audition.get_formatted_timeslot()}} </td>
                            <td>
                                <button id="{{audition.get_auditionID()}}" type="button" class="btn btn-danger" style="float:right">
                                    Cancel
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <a href="/about" class="btn btn-primary" id="about" role="button">What is Acaprez?</a>
            </div>
        </div>
    </div>
    <br>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>

        'use strict';

        let request = null;

        function cancelAudition() {
            let str = "Are you sure you want to cancel this audition?"
            let confirmed = window.confirm(str);

            if (confirmed) {
                let auditionID = this.id;
                auditionID = encodeURIComponent(auditionID);

                let url = "/cancelaudition?auditionid=" + auditionID;

                if (request != null) {
                    request.abort()
                }

                request = $.ajax(
                    {
                        type: 'POST',
                        url: url
                    }
                );

                location.reload();
            }
        }

        function setup() {
            $('#auditions .btn').on('click', cancelAudition);
        }

        $('document').ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('document').ready(setup);



    </script>


</body>

</html>