<!DOCTYPE html>
<html>

<body>
    <h1 id="welcome">{{"Welcome, " ~ netID ~ ":)"}}</h1>
    <br>
    <h2>Audition Details:</h2>

    <table width=500>
        <tr>
            <th class="table_header">Group</th>
            <th class="table_header">Time</th>
        </tr>
        {% for group in groups: %}
        <tr>
            <td id="group_name">{{group.get_name()}}</td>
            <td> </td>
        </tr>
        {% endfor %}
    </table>

    <a href="createAudition">Click here to sign up for an audition!</a>
</body>

</html>