<tbody>
    <tr id="headers">
        <th class="table_header" style="text-align:center">Name</th>
        <th class="table_header" style="text-align:center">Year</th>
        <th class="table_header" style="text-align:center">Voice Part</th>
        <th class="table_header" style="text-align:center">Other Group</th>
        {% for date in dates %}
        <th class="table_header" style="text-align:center">{{date}}<br>{{times[loop.index0]}} </th>
        {% endfor %}
    </tr>
    {% for entry in entries %}
    <tr>
        {% for value in entry %}
        <td style="text-align:center">{{value|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>