<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
</head>

{% include 'genericnav.html' %}


<body class="align-middle">
    <div id="CAS">
        <h3 id="CAS-text">Please log in with Princeton CAS:</h3>
    </div>
    <div class="login">
        <a id="leader-login" class="btn btn-primary btn-lg" href='netID'>Log In</a>
    </div>
    <div class="bypass">
        <h2>Developer Login:</h2>
        <form action="bypasslogin">
            <input type="text" name="netID">
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>