<!DOCTYPE html>
<html>

<head>
    <title>Edit Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='cal.css') }}">
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">

    <style>
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
      
            input[type=number] {
                -moz-appearance: textfield;
            }
    </style> 

</head>

{% include 'nav.html' %}

<body>
    <div id="container-fluid" style="margin: 0px 15px 0px 15px">
        <h1 id="welcome">{{instruction}}</h1>
        <div class="row">
            <div class="col-sm-4">
                <form action="/confirmprofile" method="POST" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="firstname">Preferred First Name:</label>
                        <input type="text" class="form-control" value="{{firstname}}" id="firstname" name="firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Preferred Last Name:</label>
                        <input type="text" class="form-control" value="{{lastname}}" id="lastname" name="lastname" required>
                    </div>
                    <!--- Some of these are going to need to be auto-populated, like 
                    res college, class year, but i'm including them as things 
                    for them to fill for now-->
                    <div class="form-group">
                        <label for="year">Class Year:</label>
                        <input type="number" min = '2022' class="form-control" value="{{year}}" id="year" name="year" required>
                        <div class="invalid-feedback">Must be a number, 2022 or later</div>
                    </div>
                    <div class="form-group">
                        <label for="dorm">Dorm Room:</label>
                        <input type="text" class="form-control" value="{{dorm}}" id="dorm" name="dorm" required>
                    </div>
                    <div class="form-group">
                        <label for="voice">Voice Part (optional):</label>
                        <input type="text" class="form-control" value="{{voice}}" name="voice" id="voice">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number (optional):</label>
                        <input id="phone" class="form-control" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  placeholder="123-4567-8901">
                        <div class="invalid-feedback">Must be a phone number of the type "123-4567-8901"</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <script>
                    // Disable form submissions if there are invalid fields
                    (function () {
                        'use strict';
                        window.addEventListener('load', function () {
                            // Get the forms we want to add validation styles to
                            var forms = document.getElementsByClassName('needs-validation');
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                            });
                        }, false);
                    })();
                </script>
            </div>


        </div>
    </div>


</body>

</html>