<!DOCTYPE html>
<html>

<head>
    <title>Acaprez</title>
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">

</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center align-self-center">
            <h1 id="logo-box">acaprez</h1>
        </div>
        <h4 id="login-text">Click here to <a id="login-link" href="login">login</a></h4>

    </div>
</body>

</html>