<!DOCTYPE html>
<html>

<head>
    <title>Acaprez</title>
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center" style="height: 500px">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="splash">
                <img src="/static/logo.png" alt="Acaprez logo" width="300" height="auto" id="logo">
                <br>
                <br>
                <h2>Welcome!</h2>
                <h4>We are an acapella audition management system, making it possible to sign up for all your auditions in one place.</h4>
                <br>
                <a href="login" class="btn btn-primary" id="login" role="button">Login</a>
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
</body>

</html>