<!DOCTYPE html>
<html>

<head>
    <title>Acaprez</title>
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">
    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap.min.css
        rel=stylesheet>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cal.css') }}">

</head>
{% include 'leadernav.html' %}

<body>
    <div id="container-fluid" style="margin: 0px 15px 0px 15px">
        <h1 id="welcome">{{"Welcome, group leader of " ~ group_name}}</h1>

        <br>
        <div id="alertPlaceholder"></div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Pending Auditions:</h3>
                <table id="auditions" class="table table-striped">
                    <tr>
                        <th class="table_header">Auditionee</th>
                        <th class="table_header">Time</th>
                        <th class="table_header"></th>
                    </tr>
                    {% for audition in pending: %}
                    <tr>
                        <td id="group_name"><a
                                href="auditioneeInfo?netID={{audition.get_auditionee_netID()}}">{{audition.get_auditionee_netID()}}</a>
                        </td>
                        <td>{{audition.get_formatted_timeslot()}} </td>
                        <td>
                            <button id="{{audition.get_auditionee_netID()}}" type="button" class="btn btn-primary"
                                style="float:right">
                                Offer Callback
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <div class="row">
                    <div class="col-6">
                        <h3>Callback Offers:</h3>
                    </div>

                </div>
                <table id="callbacks" class="table table-striped">
                    <tr>
                        <th class="table_header">Auditionee</th>
                        <th class="table_header">Callback Status</th>
                    </tr>
                    {% for audition in offered: %}
                    <tr>
                        <td id="netID"><a href="auditioneeInfo?netID={{audition[0]}}"
                                target="_blank">{{audition[0]}}</a></td>
                        <td>{{audition[1]}}</td>

                    </tr>
                    {% endfor %}
                </table>

            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>All Audition Slots:</h3>
                    </div>
                    <div class="col-sm-6">
                        <a href="addtimes" class="btn btn-primary" role="button" style="float:right">Add Audition
                            Times</a>
                    </div>
                </div>
                <div class="table-wrapper">
                    <table id="audition-slots" class="table table-striped">
                        <tr>
                            <th class="table_header">Auditionee</th>
                            <th class="table_header">Time</th>
                            <th class="table_header"></th>
                        </tr>
                        {% for audition in times: %}
                        <tr>
                            {% set auditionee = audition.get_auditionee_netID() %}
                            <td id="group_name">{{auditionee}}</td>
                            <td>{{audition.get_formatted_timeslot()}} </td>
                            {% if auditionee is none %}
                            <td>
                                <button id="{{audition.get_auditionID()}}" type="button" class="btn btn-danger"
                                    style="float:right">
                                    Cancel
                                </button>
                            </td>
                            {% else %}
                            <td>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>



    </div>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <script>

        'use strict';

        function reload() {
            if (location.href.includes('#')) {
                location.href = location.href.split('#')[0] + '#callback';
                location.reload();
            }
            else {
                location.href = location.href + '#callback';
                location.reload();
            }
        }

        let request = null;
        function offerCallback() {
            let netID = this.id;
            let str = "Offer callback to " + netID + "?";
            let confirmed = window.confirm(str);

            if (confirmed) {
                netID = encodeURIComponent(netID);

                let url = "/offercallback?netID=" + netID;

                if (request != null) {
                    request.abort();
                }

                request = $.ajax(
                    {
                        type: 'POST',
                        url: url,
                        success: reload
                    }
                );
            }
        }

        function cancelSuccess() {
            if (location.href.includes('#')) {
                location.href = location.href.split('#')[0] + '#cancel';
                location.reload();
            }
            else {
                location.href = location.href + '#cancel';
                location.reload();
            }
        }

        let cancelRequest = null;
        function cancelTime() {
            let url = "canceltime?auditionID=" + this.id;
            console.log(url);
            if (cancelRequest != null) cancelRequest.abort();

            cancelRequest = $.ajax(
                {
                    type: 'POST',
                    url: url,
                    success: cancelSuccess
                }
            )
        }

        function removeHash() {
            var scrollV, scrollH, loc = window.location;
            if ("pushState" in history)
                history.pushState("", document.title, loc.pathname + loc.search);
            else {
                // Prevent scrolling by storing the page's current scroll offset
                scrollV = document.body.scrollTop;
                scrollH = document.body.scrollLeft;

                loc.hash = "";

                // Restore the scroll offset, should be flicker free
                document.body.scrollTop = scrollV;
                document.body.scrollLeft = scrollH;
            }
        }

        function setup() {
            if (window.location.href.includes("added")) {
                let html = '<div class="alert alert-success fade show" role="alert">';
                html += 'Successfully added times</div>';
                $('#alertPlaceholder').html(html);
                setTimeout(function () {
                    $('.alert').alert('close');
                }, 3000);
                removeHash();
            }
            else if (window.location.href.includes("cancel")) {
                let html = '<div class="alert alert-success fade show" role="alert">';
                html += 'Successfully cancelled time</div>';
                $('#alertPlaceholder').html(html);
                setTimeout(function () {
                    $('.alert').alert('close');
                }, 3000);
                removeHash();
            }
            else if (window.location.href.includes("#callback")) {
                let html = '<div class="alert alert-success fade show" role="alert">';
                html += 'Successfully offered callback</div>';
                $('#alertPlaceholder').html(html);
                setTimeout(function () {
                    $('.alert').alert('close');
                }, 3000);
                removeHash();
            }
            $('#auditions .btn').on('click', offerCallback);
            $('#audition-slots .btn-danger').on('click', cancelTime);
        }

        $('document').ready(function () {
            $('#audition-slots').DataTable();
        });

        $('document').ready(setup);



    </script>


</body>

</html>