<nav class="navbar navbar-expand navbar-light"  style="background-color: #ffd498; margin-bottom: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.png" alt="" width=auto height=35px class="d-inline-block align-text-top">
    </a>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/auditionee ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logoutconfirmation">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">What is Acaprez?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>