<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap/min.css') }}">
        <title>Auditionee NetID Login</title>
    </head>

<body>
    <div id="CAS">Please enter your NetID below to login:</div>
    <form id="CAS" action = "auditionee" method = "POST">
        <p><input type = 'text' name = 'netID'/></p>
        <p><input type = 'submit' value = 'Login'/></p>
    </form>
</body>

</html>