<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">

    <title>Leader NetID Login</title>
</head>

{% include 'nav.html' %}


<body>
    <div id="CAS">Please enter your NetID below to login:</div>
    <form id="CAS" action="leader" method="POST">
        <p><input type='text' name='netID' /></p>
        <p><input type='submit' value='Login' /></p>
    </form>
</body>

</html>