<!DOCTYPE html>
<html>

<head>
    <title>Confirmation</title>
    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
</head>

{% include 'auditioneenav.html' %}

<body>
    <div class="container-fluid" padding="0px 15px 0px 15px">
        <h1>Confirmed signup</h1>
        <a href="/auditionee" class="btn btn-primary" role="button">Return to My Profile</a>
    </div>
</body>

</html>